{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Fatos Observados
{% endblock %}
{% block main %}

{% include 'sidebar.html' %}
<div id="content">
    {% include 'topbar.html' %}
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Cadastro do Pessoal</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row column1">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Militares do 2º GAC</h2>
                            </div>
                            <div class="bottom_list">
                                <div class="right_button">
                                    <a href="{% url 'militares:criarobservacao' %}">
                                        <button type="button" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil-square-o"></i>Criar Novo Fato
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- column contact -->
                                {% for militar in militares %}
                                    {% if militar.pessoa.situacao == 'Ativo' %}
                                        {% if militar.posto_grad == 'Soldado EV' or militar.posto_grad == 'Soldado NB' or militar.posto_grad == 'Cabo' %}
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                            <div class="contact_blog">
                                                <h4 class="brief">{{ militar.qualificacao }}</h4>
                                                <div class="contact_inner">
                                                    <div class="left">
                                                        <h3>{{ militar.nome_guerra }}</h3>
                                                        <p><strong>Posto/Grad: </strong>{{ militar.posto_grad }}</p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-envelope-o"></i> : {{ militar.pessoa.contato.email }}</li>
                                                            <li><i class="fa fa-phone"></i> : {{ militar.pessoa.contato.celular }}</li>
                                                            <li><i class="fa fa-tag"></i> : {{ militar.identidade }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="right">
                                                        <div class="profile_contacts">
                                                        {% if militar.pessoa.foto %}
                                                            <img class="img-responsive" src="{{ militar.pessoa.foto.url }}" alt="#"/>
                                                        {% else %}
                                                            <img class="img-responsive" src="{% static 'images/sem_img.png' %}" alt="#"/>
                                                        {% endif %}

                                                        </div>
                                                    </div>
                                                    <div class="bottom_list">
                                                        <div class="right_button">
                                                            <a href="{% url 'militares:fatosobservadospessoa' militar.pessoa.id %}"><button type="button" class="btn btn-primary btn-xs">
                                                                <i class="fa fa-inbox"> </i> Ver Fatos Observados
                                                            </button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <!-- end column contact blog -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        {% include 'footer.html' %}
    </div>
</div>

{% endblock %}
