{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
{{ user }}
{% endblock %}
{% block main %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Questionário</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Terceiro Questionário</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- column contact -->
                            <form method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">
                                        O salário de um recruta está estimado em
                                        01 (um) salário mínimo. Além disso, o conscrito recebe
                                        alimentação, fardamento, atendimento médico, e
                                        dentário e, se necessário, inclusive um dormitório
                                        para pernoitar durante a semana, caso ele resida longe
                                        da Organização Militar.
                                    </legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <a class="btn btn-outline-secondary btn-lg float-left"
                                           href="{% url 'questionarios:create_questionario_dois' %}"
                                           role="button">Voltar</a>
                                <button class="btn btn-outline-secondary btn-lg float-right" type="submit">
                                    Cadastrar
                                </button>
                            </form>
                            <!-- end column contact blog -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    {% include 'footer.html' %}
</div>
{% endblock %}
