{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
{{ user }}
{% endblock %}
{% block main %}
    {% if self.request.usuario.acesso == 'Estado Maior' %}
        {% include 'sidebar.html' %}
        <div id="content">
        {% include 'topbar.html' %}
    {% endif %}
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Questionário</h2>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row column1">
                        <div class="col-md-12">
                            <div class="white_shd full margin_bottom_30">
                                <div class="full graph_head">
                                    <div class="heading1 margin_0">
                                        <h2>Primeiro Questionário</h2>
                                    </div>
                                </div>
                                <div class="full price_table padding_infor_info">
                                    <div class="row">
                                        <!-- column contact -->
                                        <form method="post">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                                <legend class="border-bottom mb-4">
                                                    Conforme prescreve o Art. 299 do Código Penal, omitir
                                                    ou fazer uma declaração falsa é crime, cuja pena
                                                    prevista é de 1(um) a 5(cinco) anos de reclusão, ou multa.
                                                    Portanto, é importante lembrar que o senhor pode ser penalisado
                                                    se mentir ou omitir alguma informação.
                                                </legend>
                                                {{ form|crispy }}
                                            </fieldset>
                                            {% if request.user.pessoas.id != object.id %}
                                                <a class="btn btn-outline-secondary btn-lg float-left"
                                                           href="{% url 'pessoas:listconscrito' %}"
                                                           role="button">Voltar</a>
                                            {% else %}
                                                <a class="btn btn-outline-secondary btn-lg float-left"
                                                           href="{% url 'usuarios:autocad' request.user.pessoas.id %}"
                                                           role="button">Voltar</a>
                                            {% endif %}
                                            {% if not object %}
                                                <button class="btn btn-outline-secondary btn-lg float-right" type="submit">
                                                    Cadastrar
                                                </button>
                                            {% else %}
                                                <button class="btn btn-outline-secondary btn-lg float-right" type="submit">
                                                    Atualizar
                                                </button>
                                            {% endif %}
                                        </form>
                                        <!-- end column contact blog -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                {% include 'footer.html' %}
                </div>
            </div>
    {% if self.request.user.acesso == 'Estado Maior' %}
        </div>
    {% endif %}
{% endblock %}
