{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Pessoal
{% endblock %}
{% block main %}

{% include 'sidebar.html' %}
<div id="content">
    {% include 'topbar.html' %}
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Cadastro do Pessoal</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row column1">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Militares do {{ request.user.pessoas.militar.unidade.abreviatura }}</h2>
                            </div>
                            <div class="bottom_list">
                                <form method="get" action="{% url 'pessoas:pesquisacadastro' %}"
                                      class="pull-right position search_inbox">
                                    <div class="input-append">
                                        <input type="text" class="sr-input" value="{{ request.GET.query }}"
                                               placeholder="Pesquisar..." name="query">
                                        <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                <div class="left_button">
                                    <a href="{% url 'pessoas:criarpessoa' %}">
                                        <button type="button" class="btn btn-primary btn-xs">
                                            <i class="fa fa-male"></i><i class="fa fa-female"></i>Criar Novo
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- column contact -->
                                {% for militar in militares %}
                                    {% if militar.pessoa.situacao == 'Ativo' and militar.posto_grad != 'Conscrito' %}
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                            <div class="contact_blog">
                                                <h4 class="brief">{{ militar.qualificacao }}</h4>
                                                <div class="contact_inner">
                                                    <div class="left">
                                                        <h3>{{ militar.nome_guerra }}</h3>
                                                        <p><strong>Posto/Grad: </strong>{{ militar.posto_grad }}</p>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-envelope-o"></i> : {{ militar.pessoa.contato.email }}</li>
                                                            <li><i class="fa fa-phone"></i> : {{ militar.pessoa.contato.celular }}</li>
                                                            <li><i class="fa fa-tag"></i> : {{ militar.identidade }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="right">
                                                        <div class="profile_contacts">
                                                        {% if militar.pessoa.foto %}
                                                            <img class="img-responsive" src="{{ militar.pessoa.foto.url }}" alt="#"/>
                                                        {% else %}
                                                            <img class="img-responsive" src="{% static 'images/sem_img.png' %}" alt="#"/>
                                                        {% endif %}

                                                        </div>
                                                    </div>
                                                    <div class="bottom_list">
                                                        <div class="right_button">
                                                            <a href="{% url 'pessoas:delete' militar.pessoa.id %}">
                                                                <button type="button" class="btn cur-p btn-danger">
                                                                    <i class="fa fa-eraser"></i>Deletar</button></a>
                                                            <a href="{% url 'pessoas:cadastropessoa' militar.pessoa.id %}">
                                                                <button type="button" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-user"> </i>Ver Perfil</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- end column contact blog -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        {% include 'footer.html' %}
    </div>
</div>

{% endblock %}
