{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Aguardando Autorização!
{% endblock %}
{% block main %}
<body class="inner_page error_404">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="error_page">
                    <div class="center">
                        <div class="error_icon">
                            <img class="img-responsive" src="{{ user.pessoas.militar.unidade.logo.url }}" alt="#">
                        </div>
                    </div>
                    <h3>Cadastro Finalizado! Aguarde a autorização de acesso!</h3>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}