{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Login
{% endblock %}
{% block main %}
<body class="inner_page login">
    <div class="full_container">
        <div class="center verticle_center full_height">
            <div class="login_section">
                <div class="logo_login">
                    <div class="center">
                        <img width="75" src="{% static 'images/gac.png' %}" alt="#" />
                    </div>
                </div>
                <div class="login_form">

                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend class="border-bottom mb-4">Faça Login para continuar</legend>
                            {{ form|crispy }}

                        <div class="field margin_0">
                            <label class="label_field hidden">hidden label</label>
                            <button class="main_bt" data-placement="right">Fazer Login</button>
                            <label class="label_field hidden">hidden label</label>

                        </div>
                        </fieldset>
                    </form>
                    <a href="{% url 'usuarios:criarusuario' %}">
                        <button class="btn btn-secondary"
                                data-toggle="tooltip" data-placement="right"
                                title="Right">Criar conta
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}